:root {
  /* ☀️ TEMA CLARO - FIEL ÀS REFERÊNCIAS */
  --bg-gradient: linear-gradient(180deg, #C7E3FF 0%, #EFEFEF 100%);
  --bg-card: #EFEFEF;
  --bg-input: #ffffff;
  
  --btn-blue-grad: linear-gradient(90deg, #0092E7 0%, #0F337B 100%);
  --btn-gold-grad: linear-gradient(90deg, #FECF02 0%, #D68E13 100%);
  
  --text-main: #0F337B;
  --text-muted: #4a5c75;
  --border-color: #0F337B;
  
  /* Chat Claro */
  --chat-header-bg: transparent;
  --bubble-me: #ffffff;
  --bubble-other: #e2e8f0;
  --chat-glow: none;
  --icon-color: #0F337B;
  --chat-input-bar-bg: transparent;
}

[data-theme="dark"] {
  /* 🌙 TEMA ESCURO - FIEL ÀS REFERÊNCIAS */
  --bg-gradient: linear-gradient(180deg, #0A1D44 0%, #5D0269 100%);
  --bg-card: #b794d4;
  --bg-input: #ffffff;
  
  --btn-blue-grad: linear-gradient(90deg, #5D0269 0%, #2a0130 100%);
  --btn-gold-grad: linear-gradient(90deg, #FECF02 0%, #D68E13 100%);
  
  --text-main: #0F337B;
  --text-muted: #3a4a63;
  --border-color: #ffffff;
  
  /* Chat Escuro */
  --chat-header-bg: transparent;
  --bubble-me: #ffffff;
  --bubble-other: #d1d5db;
  --chat-glow: 0px 0px 20px rgba(255, 255, 255, 0.75);
  --icon-color: #C7E3FF;
  --chat-input-bar-bg: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}