:root {
  /* ☀️ TEMA CLARO */
  --bg-gradient: linear-gradient(180deg, #C7E3FF 0%, #EFEFEF 100%);
  --bg-card: #EFEFEF;
  --bg-input: #ffffff;
  
  --btn-blue-grad: linear-gradient(90deg, #0092E7 0%, #0F337B 100%);
  --btn-gold-grad: linear-gradient(90deg, #FECF02 0%, #D68E13 100%);
  
  --text-main: #0F337B;
  --text-muted: #4a5c75;
  --border-color: #0F337B;
  
  --chat-header-bg: transparent;
  --bubble-me: #ffffff;
  --bubble-other: #e2e8f0;
  --chat-glow: none;
  --icon-color: #0F337B;
  --chat-input-bar-bg: transparent;

  /* LAGOA TEMA CLARO */
  --lagoa-card-bg: #EAEAEA;
  --lagoa-text: #0F337B;
  --lagoa-border: rgba(15, 51, 123, 0.2);
  --lagoa-btn-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.3) 100%);
  --lagoa-btn-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08), -4px -4px 10px rgba(255, 255, 255, 0.9);
  --lagoa-btn-shadow-active: inset 4px 4px 10px rgba(0, 0, 0, 0.1), inset -4px -4px 10px rgba(255, 255, 255, 0.9);
}

[data-theme="dark"] {
  /* 🌙 TEMA ESCURO */
  --bg-gradient: linear-gradient(180deg, #0A1D44 0%, #5D0269 100%);
  --bg-card: #1E1A2F; 
  --bg-input: #2A243D;
  
  --btn-blue-grad: linear-gradient(90deg, #5D0269 0%, #2a0130 100%);
  --btn-gold-grad: linear-gradient(90deg, #FECF02 0%, #D68E13 100%);
  
  --text-main: #E2E8F0;
  --text-muted: #94A3B8;
  --border-color: #4A446A;
  
  --chat-header-bg: transparent;
  --bubble-me: #3D355C;
  --bubble-other: #2A243D;
  --chat-glow: 0px 0px 20px rgba(255, 255, 255, 0.08);
  --icon-color: #C7E3FF;
  --chat-input-bar-bg: transparent;

  /* LAGOA TEMA ESCURO - REFLEXOS E SOMBRAS 3D */
  --lagoa-card-bg: #CFAEE3;
  --lagoa-text: #2A1B54;
  --lagoa-border: rgba(42, 27, 84, 0.15);
  --lagoa-btn-bg: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.05) 100%);
  --lagoa-btn-shadow: 5px 5px 12px rgba(42, 27, 84, 0.25), -5px -5px 12px rgba(255, 255, 255, 0.4);
  --lagoa-btn-shadow-active: inset 4px 4px 10px rgba(42, 27, 84, 0.3), inset -4px -4px 10px rgba(255, 255, 255, 0.3);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}