:root {
  /* ☀️ TEMA CLARO */
  --bg-gradient: linear-gradient(180deg, #C7E3FF 0%, #EFEFEF 100%);
  --bg-card: #EFEFEF;
  --bg-input: #ffffff;
  
  --btn-blue-grad: linear-gradient(90deg, #0092E7 0%, #0F337B 100%);
  --btn-gold-grad: linear-gradient(90deg, #FECF02 0%, #D68E13 100%);
  
  --text-main: #0F337B;
  --text-muted: #4a5c75;
  --border-color: #0F337B;
  
  --chat-header-bg: transparent;
  --bubble-me: #ffffff;
  --bubble-other: #e2e8f0;
  --chat-glow: none;
  --icon-color: #0F337B;
  --chat-input-bar-bg: transparent;
}

[data-theme="dark"] {
  /* 🌙 TEMA ESCURO (CORRIGIDO: Suave e elegante) */
  --bg-gradient: linear-gradient(180deg, #0A1D44 0%, #5D0269 100%);
  --bg-card: #1E1A2F; 
  --bg-input: #2A243D;
  
  --btn-blue-grad: linear-gradient(90deg, #5D0269 0%, #2a0130 100%);
  --btn-gold-grad: linear-gradient(90deg, #FECF02 0%, #D68E13 100%);
  
  --text-main: #E2E8F0; /* BRANCO SUAVE (Não agride os olhos) */
  --text-muted: #94A3B8;
  --border-color: #4A446A;
  
  --chat-header-bg: transparent;
  --bubble-me: #3D355C;
  --bubble-other: #2A243D;
  --chat-glow: 0px 0px 20px rgba(255, 255, 255, 0.08);
  --icon-color: #C7E3FF;
  --chat-input-bar-bg: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}